/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos globais */
  body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    color:#ADB5BD;
  }
  
  h2, h3{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color:#b49e89;
  }
  
  a {
    color: #e9edc9ef;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  a:hover {
    color: #6C757D;
  }
  
  /* Estilos do cabeçalho */
  
header{
    position: fixed;
    z-index: 1;
    background-color: #363636;
    width: 100vw;
    height: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}


.logo img{
    height: 40px;
    text-align: center;
}

.logo img:hover{
    filter:invert(40%);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    list-style: none;
    margin-right: 1.5rem;
  }
  
  nav ul li a {
    font-size: 1.2rem;
    font-weight: 'Overpass Mono', monospace;
    font-weight: bold;
  }
  
  .container{
    display:flex;
    margin-top:40px;
    flex-grow: 1;
    flex-direction: column;
    background: linear-gradient(to bottom, #575757 5%, #464646 20%);
    font-family: 'Nunito', sans-serif;
  }

  .avatar{
    border-radius: 50%;
    height: 100px;
    background-image: linear-gradient(90deg, #69f489 0%, #3A0CA3 50.52%, #2b8ca9 100%);
    padding: 4px;
  }
  /* Estilos das seções */
  .sobre-mim{
    display: flex;
    align-items: center;
    gap:30px;
    justify-content: center;
  }
  section {
    padding: 1rem;
  }
  
  .container section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .portfolio-item {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-item img {
    width: 350px;
    height: auto;
  }
  
  .portfolio-item h3 {
    margin: 0.6rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    width: 200px;
  }
  
  .portfolio-item p {
    margin-bottom: 1.5rem;
    width: 600px;
  }
  
  .portfolio-item a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0077B6;
    color: #fff;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 150px;
  }
  
  .portfolio-item a:hover {
    background-color: #0096C7;
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    height: 50px;
    gap:45px;
    font-family: 'Titillium Web', sans-serif;
  }
  